In [1]:
!pip install yfinance

Requirement already satisfied: yfinance in c:\python311\lib\site-packages (0.2.40)
Requirement already satisfied: pandas>=1.3.0 in c:\python311\lib\site-packages (from yfinance) (2.2.2)
Requirement already satisfied: numpy>=1.16.5 in c:\python311\lib\site-packages (from yfinance) (1.25.1)
Requirement already satisfied: requests>=2.31 in c:\python311\lib\site-packages (from yfinance) (2.31.0)
Requirement already satisfied: multitasking>=0.0.7 in c:\python311\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in c:\python311\lib\site-packages (from yfinance) (5.2.2)
Requirement already satisfied: platformdirs>=2.0.0 in c:\python311\lib\site-packages (from yfinance) (4.2.2)
Requirement already satisfied: pytz>=2022.5 in c:\python311\lib\site-packages (from yfinance) (2023.3)
Requirement already satisfied: frozendict>=2.3.4 in c:\python311\lib\site-packages (from yfinance) (2.4.4)
Requirement already satisfied: peewee>=3.16.2 in c:\python311\lib\site-packages (from yfinance) (3.17.5)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\python311\lib\site-packages (from yfinance) (4.12.3)
Requirement already satisfied: html5lib>=1.1 in c:\python311\lib\site-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in c:\python311\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: six>=1.9 in c:\python311\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in c:\python311\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\python311\lib\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: tzdata>=2022.7 in c:\python311\lib\site-packages (from pandas>=1.3.0->yfinance) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\python311\lib\site-packages (from requests>=2.31->yfinance) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in c:\python311\lib\site-packages (from requests>=2.31->yfinance) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\python311\lib\site-packages (from requests>=2.31->yfinance) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\python311\lib\site-packages (from requests>=2.31->yfinance) (2023.7.22)

Installing important libraries

In [2]:
import yfinance as yf
import pandas as pd

In [3]:
yf.download(
    "MSFT",
    start = '2019-01-01',
    end='2024-01-01',
    interval='1d'
)

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-01-02,99.550003,101.750000,98.940002,101.120003,95.673439,35329300
2019-01-03,100.099998,100.190002,97.199997,97.400002,92.153816,42579100
2019-01-04,99.720001,102.510002,98.930000,101.930000,96.439842,44060600
2019-01-07,101.639999,103.269997,100.980003,102.059998,96.562828,35656100
2019-01-08,103.040001,103.970001,101.709999,102.800003,97.262962,31514400
...,...,...,...,...,...,...
2023-12-22,373.679993,375.179993,372.709991,374.579987,373.215393,17091100
2023-12-26,375.000000,376.940002,373.500000,374.660004,373.295135,12673100
2023-12-27,373.690002,375.059998,372.809998,374.070007,372.707275,14905400
2023-12-28,375.369995,376.459991,374.160004,375.279999,373.912842,14327000
2023-12-29,376.000000,377.160004,373.480011,376.040009,374.670074,18723000

In [4]:
ticker = yf.Ticker('MSFT')

# Collecting the income statement data

In [5]:
# Extracting financial data
financials = ticker.financials.transpose()

# Calculating margins
financials['Gross Profit Margin'] = (financials['Gross Profit'] / financials['Total Revenue']) * 100
financials['Net Income Margin'] = (financials['Net Income'] / financials['Total Revenue']) * 100
financials['Operating Profit Margin'] = (financials['Operating Income']/financials['Total Revenue'])*100

# Displaying the financial metrics DataFrame
financial_metrics = financials[['Total Revenue', 'Gross Profit', 'Operating Income', 'Net Income', 'Basic EPS', 'Gross Profit Margin', 'Net Income Margin', 'Operating Profit Margin']]
financial_metrics.index.name = 'Metric'

financial_metrics.dropna(inplace=True)

financial_metrics

C:\Users\muham\AppData\Local\Temp\ipykernel_23564\4139918865.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  financial_metrics.dropna(inplace=True)

,Total Revenue,Gross Profit,Operating Income,Net Income,Basic EPS,Gross Profit Margin,Net Income Margin,Operating Profit Margin
Metric,,,,,,,,
2023-06-30,211915000000.0,146052000000.0,88523000000.0,72361000000.0,9.72,68.920086,34.146238,41.772881
2022-06-30,198270000000.0,135620000000.0,83383000000.0,72738000000.0,9.7,68.401674,36.686337,42.055278
2021-06-30,168088000000.0,115856000000.0,69916000000.0,61271000000.0,8.12,68.925801,36.45174,41.594879
2020-06-30,143015000000.0,96937000000.0,52959000000.0,44281000000.0,5.82,67.781002,30.962486,37.030381

### Checking any duplicate rows and missing values

In [6]:
missing_values = financial_metrics.isnull().any()
print("Missing values in DataFrame:")
print(missing_values)

Missing values in DataFrame:
Total Revenue              False
Gross Profit               False
Operating Income           False
Net Income                 False
Basic EPS                  False
Gross Profit Margin        False
Net Income Margin          False
Operating Profit Margin    False
dtype: bool

In [7]:
duplicate_rows = financial_metrics[financial_metrics.duplicated()]
print("Duplicate rows in DataFrame:")
print(duplicate_rows)

Duplicate rows in DataFrame:
Empty DataFrame
Columns: [Total Revenue, Gross Profit, Operating Income, Net Income, Basic EPS, Gross Profit Margin, Net Income Margin, Operating Profit Margin]
Index: []

In [8]:
financial_metrics.to_csv('Microsoft_income_statement.csv')

# Collecting Balance sheet Data

In [9]:
balance = ticker.balance_sheet.transpose()

### Collecting the Balance sheet data from Yahoo Finance

In [10]:
# Calculating non current assets and return on equity
balance['Non Current Assets'] = balance["Total Assets"] - balance["Current Assets"] 
balance['Return On Equity'] = (financials["Net Income"] / balance["Stockholders Equity"]) * 100
balance['Current Ratio'] = balance['Current Assets']/balance['Current Liabilities']
balance['Quick Ratio'] = (balance['Current Assets'] - balance["Inventory"]) / balance["Current Liabilities"]
balance['Debt to Equity Ratio'] = balance['Total Liabilities Net Minority Interest']/balance['Stockholders Equity']
balance['Asset Turnover Ratio'] = financials['Total Revenue']/balance['Total Assets']

balance_sheet_metric = balance[[
    'Total Assets', 
    'Current Assets', 
    "Non Current Assets",
    'Current Liabilities',
    'Total Liabilities Net Minority Interest',
    'Common Stock Equity',
    'Retained Earnings',
    'Total Debt',
    'Net Debt',
    "Stockholders Equity",
    "Return On Equity",
    'Current Ratio',
    'Quick Ratio',
    'Debt to Equity Ratio',
    'Asset Turnover Ratio']]

# Drop any NaN values
balance_sheet_metric.dropna(inplace=True)

balance_sheet_metric

C:\Users\muham\AppData\Local\Temp\ipykernel_23564\1078997020.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  balance_sheet_metric.dropna(inplace=True)

,Total Assets,Current Assets,Non Current Assets,Current Liabilities,Total Liabilities Net Minority Interest,Common Stock Equity,Retained Earnings,Total Debt,Net Debt,Stockholders Equity,Return On Equity,Current Ratio,Quick Ratio,Debt to Equity Ratio,Asset Turnover Ratio
2023-06-30,411976000000.0,184257000000.0,227719000000.0,104149000000.0,205753000000.0,206223000000.0,118848000000.0,59965000000.0,12533000000.0,206223000000.0,35.088715,1.769167,1.745163,0.997721,0.514387
2022-06-30,364840000000.0,169684000000.0,195156000000.0,95082000000.0,198298000000.0,166542000000.0,84281000000.0,61270000000.0,35850000000.0,166542000000.0,43.675469,1.784607,1.745251,1.190679,0.543444
2021-06-30,333779000000.0,184406000000.0,149373000000.0,88657000000.0,191791000000.0,141988000000.0,57055000000.0,67775000000.0,43922000000.0,141988000000.0,43.152238,2.079994,2.050261,1.350755,0.503591
2020-06-30,301311000000.0,181915000000.0,119396000000.0,72310000000.0,183007000000.0,118304000000.0,34566000000.0,70998000000.0,49751000000.0,118304000000.0,37.429842,2.515765,2.489559,1.546921,0.474642

### Data integrity by checking missing values and duplicate rows

In [11]:
balance_sheet_missing_values = balance.isnull().any()
print("Missing values in DataFrame:")
print(balance_sheet_missing_values)

Missing values in DataFrame:
Ordinary Shares Number    False
Share Issued              False
Net Debt                  False
Total Debt                False
Tangible Book Value       False
                          ...
Return On Equity          False
Current Ratio             False
Quick Ratio               False
Debt to Equity Ratio      False
Asset Turnover Ratio      False
Length: 79, dtype: bool

In [12]:
balance_sheet_duplicate_rows = balance_sheet_metric[balance_sheet_metric.duplicated()]
print("Duplicate rows in DataFrame:")
print(balance_sheet_duplicate_rows)

Duplicate rows in DataFrame:
Empty DataFrame
Columns: [Total Assets, Current Assets, Non Current Assets, Current Liabilities, Total Liabilities Net Minority Interest, Common Stock Equity, Retained Earnings, Total Debt, Net Debt, Stockholders Equity, Return On Equity, Current Ratio, Quick Ratio, Debt to Equity Ratio, Asset Turnover Ratio]
Index: []

Save it to CSV file

In [13]:
balance_sheet_metric.to_csv('Microsoft_balance_sheet.csv')

# Cashflow Statement

In [14]:
cashflow = ticker.cashflow.transpose()

### Collecting data from Cashflow statement

In [15]:
# Calculating non current assets and return on equity
cashflow["Capital Expenditure Net Income"] =  (cashflow["Capital Expenditure"] / financials["Net Income"])*100

cashflow_sheet_metric = cashflow[[
    "Operating Cash Flow",
    "Investing Cash Flow",
    "Financing Cash Flow", 
    "Free Cash Flow",
    "Capital Expenditure",
    "Capital Expenditure Net Income"
]]

# Drop any NaN values
cashflow_sheet_metric.dropna(inplace=True)

cashflow_sheet_metric

C:\Users\muham\AppData\Local\Temp\ipykernel_23564\2764176389.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cashflow_sheet_metric.dropna(inplace=True)

,Operating Cash Flow,Investing Cash Flow,Financing Cash Flow,Free Cash Flow,Capital Expenditure,Capital Expenditure Net Income
2023-06-30,87582000000.0,-22680000000.0,-43935000000.0,59475000000.0,-28107000000.0,-38.842747
2022-06-30,89035000000.0,-30311000000.0,-58876000000.0,65149000000.0,-23886000000.0,-32.838406
2021-06-30,76740000000.0,-27577000000.0,-48486000000.0,56118000000.0,-20622000000.0,-33.657032
2020-06-30,60675000000.0,-12223000000.0,-46031000000.0,45234000000.0,-15441000000.0,-34.870486

### Data integrity by checking duplicates and checking missing values

In [16]:
cashflow_missing_values = cashflow_sheet_metric.isnull().any()
print("Missing values in DataFrame:")
print(cashflow_missing_values)

Missing values in DataFrame:
Operating Cash Flow               False
Investing Cash Flow               False
Financing Cash Flow               False
Free Cash Flow                    False
Capital Expenditure               False
Capital Expenditure Net Income    False
dtype: bool

In [17]:
cashflow_sheet_duplicate_rows = cashflow_sheet_metric[cashflow_sheet_metric.duplicated()]
print("Duplicate rows in DataFrame:")
print(cashflow_sheet_duplicate_rows)

Duplicate rows in DataFrame:
Empty DataFrame
Columns: [Operating Cash Flow, Investing Cash Flow, Financing Cash Flow, Free Cash Flow, Capital Expenditure, Capital Expenditure Net Income]
Index: []

In [18]:
cashflow_sheet_metric.to_csv('Microsoft_cashflow_statement.csv')